<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>구간번호</th>
      <th>도로명</th>
      <th>제한속도</th>
      <th>도로길이</th>
      <th>점유율</th>
      <th>평균속도</th>
      <th>교통량</th>
      <th>통행시간</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>4050175900</td>
      <td>연삼로</td>
      <td>60</td>
      <td>51.4994</td>
      <td>0</td>
      <td>41</td>
      <td>0</td>
      <td>4</td>
    </tr>
    <tr>
      <th>2</th>
      <td>4050021604</td>
      <td>일주서로</td>
      <td>60</td>
      <td>429.8737</td>
      <td>0</td>
      <td>16</td>
      <td>0</td>
      <td>102</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4050021603</td>
      <td>일주서로</td>
      <td>60</td>
      <td>81.5275</td>
      <td>0</td>
      <td>43</td>
      <td>0</td>
      <td>7</td>
    </tr>
    <tr>
      <th>4</th>
      <td>4050021602</td>
      <td>일주서로</td>
      <td>60</td>
      <td>75.1970</td>
      <td>0</td>
      <td>43</td>
      <td>0</td>
      <td>6</td>
    </tr>
    <tr>
      <th>5</th>
      <td>4060013702</td>
      <td>중산간서로</td>
      <td>80</td>
      <td>446.9258</td>
      <td>0</td>
      <td>72</td>
      <td>0</td>
      <td>23</td>
    </tr>
    <tr>
      <th>6</th>
      <td>4050076000</td>
      <td>수덕로</td>
      <td>30</td>
      <td>124.0556</td>
      <td>0</td>
      <td>27</td>
      <td>0</td>
      <td>16</td>
    </tr>
    <tr>
      <th>7</th>
      <td>4050179000</td>
      <td>성지로</td>
      <td>50</td>
      <td>267.3400</td>
      <td>0</td>
      <td>25</td>
      <td>0</td>
      <td>41</td>
    </tr>
    <tr>
      <th>8</th>
      <td>4060068100</td>
      <td>동홍로</td>
      <td>50</td>
      <td>133.9710</td>
      <td>0</td>
      <td>35</td>
      <td>0</td>
      <td>12</td>
    </tr>
    <tr>
      <th>9</th>
      <td>4050020502</td>
      <td>일주서로</td>
      <td>60</td>
      <td>511.7821</td>
      <td>0</td>
      <td>37</td>
      <td>0</td>
      <td>53</td>
    </tr>
    <tr>
      <th>10</th>
      <td>4050020501</td>
      <td>일주서로</td>
      <td>60</td>
      <td>214.9645</td>
      <td>0</td>
      <td>22</td>
      <td>0</td>
      <td>37</td>
    </tr>
  </tbody>
</table>